{% extends 'layout/mainlayout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-8">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ post.title }}</h1>
            <p>
                <strong>Tags:</strong>
                {% for t in post.tag.all %}
                <a href="{% url 'tag' slug=t.slug %}"># {{ t.name }}</a>
                {% empty %}
                <span>No tags</span>
                {% endfor %}
            </p>
            <!-- Author -->
            <p class="lead">
                by <a href="#">{{ post.user }}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span>{{ post.published_date }}</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{ post.image }}" alt="">

            <hr>

            <!-- Post Content -->
            <p class="lead">{{ post.content }}</p>


            <!-- Blog Comments -->

            <!-- Comments Form -->
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form method="POST">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

            <hr>

            <!-- Posted Comments -->
            {% for c in post.comments.all %}
            <!-- Comment -->
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="http://placehold.it/64x64" alt="">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{ c.user.username }}
                        <small>{{ c.published_date }}</small>
                    </h4>
                    {{ c.content }}

                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</div>
{% endblock %}