{% extends 'layout/mainlayout.html' %}
{% load thumbnail %}

{% block content %}

{% if messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {% for message in messages %}
    <p class="mb-0">{{ message }}</p>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container">
    <h1 class="mb-4">Gallery</h1>

    {% for image in images %}
    <h3>{{image.title}}</h3>
    {% thumbnail image.image '300x300' crop='center' as im %}
    <a href="{{ image.image.url }}" target="_blank"><img src="{{ im.url }}" alt="{{ im.title }}"></a>
    {% endthumbnail %}

    {% endfor %}
</div>

{% endblock %}